{{> head}}
{{> navbar}}

<div class="container">
  <h1>Tabla de Educción</h1>

</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="bg-white">
      <table class="table table-bordered table table-sm">
        <thead class="border-dark">
          <tr class="bg-success text-white">
            <th scope="col">ED-0001
            </th>
            <th scope="col">Gestion de Productos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Depende: </th>
            <td><a href="/"></a></td>
          </tr>
          <tr>
            <th scope="row">Genera: </th>
            <td>
            <a href="/elicitacion?num=el0001">EL-0001 BuscarProducto</a><br>
            <a href="/elicitacion?num=el0002">EL-0002 CrearProducto</a><br>
            <a href="/elicitacion?num=el0003">EL-0003 ModificarProducto</a><br>
            <a href="/elicitacion?num=el0004">EL-0004 EliminarProducto</a><br>
            
            
            </td>
          </tr>
          <tr>
            <th scope="row">Version</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Autores</th>
            <td>escribe aqui</td>

          </tr>
          <tr>
            <th scope="row">Fuentes</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Descripción</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Importancia</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Estado</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Comentarios</th>
            <td>escribe aqui</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{{> footer}}