{{> head}}
{{> navbar}}

<div class="container">
  <h1>Tabla de Elicitación</h1>
</div>

<div id="el0001" class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="bg-white">
      <table class="table table-bordered table table-sm">
        <thead class="border-dark">
          <tr class="bg-primary text-white">
            <th scope="col">EL-0001
            </th>
            <th scope="col">Buscar Producto</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Depende:</th>
            <td><a href="/educcion">ED-0001 Gestion Productos</a></td>
          </tr>
          <tr>
            <th scope="row">Genera: </th>
            <td><a href="/"></a></td>
          </tr>
          <tr>
            <th scope="row">Version</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Autores</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Fuentes</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Descripción</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Importancia</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Estado</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Comentarios</th>
            <td>escribe aqui</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="el0002" class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="bg-white">
      <table class="table table-bordered table table-sm">
        <thead class="border-dark">
          <tr class="bg-primary text-white">
            <th scope="col">EL-0002
            </th>
            <th scope="col">Crear Producto </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Depende: </th>
            <td><a href="/educcion">ED-0001 Gestion Productos</a></td>
          </tr>
          <tr>
            <th scope="row">Genera: </th>
            <td><a href="/"></a></td>
          </tr>
          <tr>
            <th scope="row">Version</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Autores</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Fuentes</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Descripción</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Importancia</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Estado</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Comentarios</th>
            <td>escribe aqui</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div id="el0003" class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="bg-white">
      <table class="table table-bordered table table-sm">
        <thead class="border-dark">
          <tr class="bg-primary text-white">
            <th scope="col">EL-0003
            </th>
            <th scope="col">Modificar Producto</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Depende:</th>
            <td><a href="/educcion">ED-0001 Gestion Productos </a></td>
          </tr>
          <tr>
            <th scope="row">Genera: </th>
            <td><a href="/"></a></td>
          </tr>
          <tr>
            <th scope="row">Version</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Autores</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Fuentes</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Descripción</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Importancia</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Estado</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Comentarios</th>
            <td>escribe aqui</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div id="el0004" class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="bg-white">
      <table class="table table-bordered table table-sm">
        <thead class="border-dark">
          <tr class="bg-primary text-white">
            <th scope="col">EL-0004
            </th>
            <th scope="col">Eliminar Producto</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Depende:</th>
            <td><a href="/educcion">ED-0001 Gestion Productos</a></td>
          </tr>
          <tr>
            <th scope="row">Genera: </th>
            <td><a href="/"></a></td>
          </tr>
          <tr>
            <th scope="row">Version</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Autores</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Fuentes</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Descripción</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Importancia</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Estado</th>
            <td>escribe aqui</td>
          </tr>
          <tr>
            <th scope="row">Comentarios</th>
            <td>escribe aqui</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<br><br><br><br><br><br><br>
{{> footer}}
<script>
  $(document).ready(function () {
    var numeroEli ="#"+"{{num}}";
    $('html,body').animate({
      scrollTop: $(numeroEli).offset().top
    }, 0500);
    console.log('sali-elicitacion');
  });
</script>