{{> head}}

{{> navbar}}
<!--
<div class="jumbotron">
  <h1 class="display-4">Hello, {{capitalizar nombre}}!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
    content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
-->
<div class="container">
  <div class="row">
    <div class="col">
      <form action="/pdf" method="post">

<div class="jumbotron">
  

        <input class="form-control" type="text" placeholder="Usuarios y factores humanos" readonly>
        <!--Primera Pregunta-->
        <div class="form-group">
          <label for="formGroupExampleInput">1 ¿Quien usará el sistema?</label>
          <input name="pre1" type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
        <!--Segunda Pregunta-->
        <div>
          <label for="formGroupExampleInput">2 ¿Habrá varios tipos de usuario?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre2" class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">1-2 (dueño - asistente)</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre2" class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">2-4(trabajadores -cargo)</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre2" class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">+4</label>
        </div>

        <!--Tercera Pregunta-->
        <div>
          <label for="formGroupExampleInput">3 ¿Cuál es el nivel de habilidad de cada tipo de usuario?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre3" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">inicial</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre3" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">intermedio</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre3" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">avanzado</label>
        </div>

        <!--Cuarta Pregunta-->
        <div>
          <label for="formGroupExampleInput">4 ¿Qué clase de entrenamiento requerirá cada tipo de usuario?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre4" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">poco</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre4" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">algo</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre4" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">arto</label>
        </div>

        <!--Quinta Pregunta-->
        <div>
          <label for="formGroupExampleInput">5 ¿Cuán fácil le será al usuario comprender y utilizar el sistema?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre5" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">fácil</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre5" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">difícil</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre5" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">imposible</label>
        </div>

        <!--Sexta Pregunta-->
        <div>
          <label for="formGroupExampleInput">6 ¿Cuán difícil le resultará al usuario hacer uso indebido del
            sistema?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre6" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">poco</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre6" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">algo</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre6" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">arto</label>
        </div>
</div>

        <!--7 Pregunta-->
        <input class="form-control" type="text" placeholder="Funcionalidad" readonly>
        <div class="form-group">
          <label for="formGroupExampleInput">7 ¿Qué hará el sistema?</label>
          <input name="pre7" type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>

        <!--8 Pregunta-->
        <div>
          <label for="formGroupExampleInput">8 ¿Cuándo lo hará?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre8" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">vender</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre8" class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">comprar</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre8" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
          <label class="form-check-label" for="inlineCheckbox3">contabilizar (disabled)</label>
        </div>

        <!--9 Pregunta-->
        <div>
          <label for="formGroupExampleInput">9 ¿Cuán difícil le resultará al usuario hacer uso indebido del
            sistema?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre9" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">usuario</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre9" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">usuario - admin</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre9" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">usuario - admin - cliente</label>
        </div>

        <!--10 Pregunta-->
        <div class="form-group">
          <label for="formGroupExampleInput">10 ¿Cómo y cuando puede cambiarse o mejorarse un sistema?</label>
          <input name="pre10" type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>

        <!--11 Pregunta-->
        <div>
          <label for="formGroupExampleInput">11 ¿Existen restricciones de la velocidad de ejecución, tiempo de respuesta
            o rendimiento?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre11" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">si</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre11" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">no</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre11" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">usuario - admin - cliente</label>
        </div>

        <!--12 Pregunta-->
        <input class="form-control" type="text" placeholder="Datos" readonly>

        <div>
          <label for="formGroupExampleInput">12 ¿Cuál será el formato de los datos, tanto para la entrada como para la
            salida?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre12" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">Entrada entero Salida Entero</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre12" class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Entrada Entero Salida Decimal</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre12" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
          <label class="form-check-label" for="inlineCheckbox3">Entrada Decimal Salida Decimal</label>
        </div>

        <!--13 Pregunta-->
        <div>
          <label for="formGroupExampleInput">13 ¿Cuán a menudo serán recibidos o enviados?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre13" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">0-50</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre14" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">50-100</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre13" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">100+</label>
        </div>

        <!--14 Pregunta-->
        <div>
          <label for="formGroupExampleInput">14 ¿Cuán exactos deben ser?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre14" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">redondeo arriba</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre14" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">redondeo abajo</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre14" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">100+</label>
        </div>

        <!--15 Pregunta-->
        <div>
          <label for="formGroupExampleInput">15 ¿Con qué grado de precisión deben hacerse los cálculos?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre15" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Entero</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre15" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">2 decimales</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre15" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">4+</label>
        </div>

        <!--16 Pregunta-->
        <div>
          <label for="formGroupExampleInput">16 ¿Cuántos datos fluyen a través del sistema?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre16" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">200 productos</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre16" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">500 productos</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre16" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">1000+ productos</label>
        </div>

        <!--17 Pregunta-->

        <div>
          <label for="formGroupExampleInput">17 ¿Debe retenerse algún dato por algún período de tiempo?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre17" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Almacenamiento</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre17" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Almacenamiento y recibo</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre17" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">Sólo recibo</label>
        </div>

        <!--18 Pregunta-->
        <input class="form-control" type="text" placeholder="Recursos" readonly>


        <div>
          <label for="formGroupExampleInput">18 ¿Qué recursos materiales, personales o de otro tipo se requieren para
            construir, utilizar y mantener el sistema?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre18" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">Libros</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre18" class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Java</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre18" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
          <label class="form-check-label" for="inlineCheckbox3">Nodejs</label>
        </div>

        <!--19 Pregunta-->
        <div>
          <label for="formGroupExampleInput">19 ¿Qué habilidades deben tener los desarrolladores?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre19" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">Fundamentos de programación</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre19" class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Modelamiento</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre19" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
          <label class="form-check-label" for="inlineCheckbox3">Diseño de interfaces</label>
        </div>

        <!--20 Pregunta-->

        <div>
          <label for="formGroupExampleInput">20 ¿Cuánto espacio físico será ocupado por el sistema?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre20" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Mesa</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre20" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">parte del mostrado</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre20" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">mueble</label>
        </div>

        <!--21 Pregunta-->
        <div>
          <label for="formGroupExampleInput">21 ¿Cuáles son los requerimientos de energía, calefacción o
            acondicionamiento de aire?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre21" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">Ambiente con riesgo a liquidos</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre21" class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Ambiente con aire</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre21" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
          <label class="form-check-label" for="inlineCheckbox3">Riesgo de caerse</label>
        </div>

        <!--22 Pregunta-->

        <div>
          <label for="formGroupExampleInput">22 ¿Existe un cronograma prescrito para el desarrollo?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre22" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Nose dio Fecha limite</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre22" name="pre21" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Fecha limite del curso</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre22" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">Ajustado al alcance</label>
        </div>

        <!--23 Pregunta-->

        <div>
          <label for="formGroupExampleInput">23 ¿Existe un límite sobre la cantidad de dinero a gastar en el desarrollo
            o en hardware y software?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre23" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">No hay precio</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre23" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Precio deacuerdo a lo que usa</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre23" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">Por cantidad de modulos</label>
        </div>

        <!--24 Pregunta-->
        <input class="form-control" type="text" placeholder="Ambiente físico" readonly>

        <div>
          <label for="formGroupExampleInput">24 ¿Dónde esta el equipo que el sistema necesita para funcionar?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre24" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Cerca al negocio</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre24" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Lugar distinto</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre24" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">Cerca al gerente</label>
        </div>

        <!--25 Pregunta-->

        <div>
          <label for="formGroupExampleInput">25 ¿Existe una localización o varias?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre25" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">1-2</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre25" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">3-5</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre25" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">+5</label>
        </div>

        <!--26 Pregunta-->

        <div>
          <label for="formGroupExampleInput">26 ¿Hay restricciones ambientales como temperatura, humedad o interferencia
            magnética?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre26" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">Riesgo de temperatura</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre26" class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Riesgo de humedad</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre26" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
          <label class="form-check-label" for="inlineCheckbox3">Riesgo de interferencia magnética</label>
        </div>

        <!--27 Pregunta-->
        <input class="form-control" type="text" placeholder="Interfaces" readonly>

        <div>
          <label for="formGroupExampleInput">27 ¿La entrada proviene de uno o más sistemas?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre27" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">1-2</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre27" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">3-5</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre27" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">+5</label>
        </div>


        <!--28 Pregunta-->

        <div>
          <label for="formGroupExampleInput">28 ¿La salida va a uno o más sistemas?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre28" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">sistema unico</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre28" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Sistema dual</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre28" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">mas 3</label>
        </div>

        <!--29 Pregunta-->

        <div>
          <label for="formGroupExampleInput">29 ¿Existe una manera preestablecida en que deben formatearse los
            datos?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre29" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Cuadro</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre29" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Recibo</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre29" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">txt</label>
        </div>

        <!--30 Pregunta-->
        <input class="form-control" type="text" placeholder="Aseguramiento de la calidad" readonly>


        <div>
          <label for="formGroupExampleInput">30 ¿Cuáles son los requerimientos para la confiabilidad, disponibilidad,
            facilidad de mantenimiento, seguridad y demás atributos de calidad?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre30" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">Prioridad confiabilidad</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre30" class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Confiabiidad disponilidad</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre30" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
          <label class="form-check-label" for="inlineCheckbox3">Facilidad de mantenimiento</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre30" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
          <label class="form-check-label" for="inlineCheckbox3">Seguridad</label>
        </div>

        <!--31 Pregunta-->

        <div>
          <label for="formGroupExampleInput">31 ¿Cómo deben demostrarse las características del sistema a
            terceros?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre31" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">Tutorial interactivo</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre31" class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">El propio sistema</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre31" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
          <label class="form-check-label" for="inlineCheckbox3">Manual de usuario</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre31" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
          <label class="form-check-label" for="inlineCheckbox3">Capacitación</label>
        </div>

        <!--32 Pregunta-->

        <div>
          <label for="formGroupExampleInput">32 ¿La salida va a uno o más sistemas?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre32" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Mostrar los errores</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre32" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Capturar errores</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre32" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">mostrar y capturar los errores</label>
        </div>

        <!--33 Pregunta-->

        <div>
          <label for="formGroupExampleInput">33 ¿Cuál es el promedio de tiempo prescrito entre fallas?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre33" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">1-2 segundos</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre33" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">3-4 segundos</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre33" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">5-6 segundos</label>
        </div>

        <!--34 Pregunta-->

        <div>
          <label for="formGroupExampleInput">34 ¿Existe un tiempo máximo permitio para la recuperación del sistema
            después de una falla?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre34" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">1-2 segundos</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre34" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">3-4 segundos</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre34" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">5-6 segundos</label>
        </div>

        <!--35 Pregunta-->

        <div>
          <label for="formGroupExampleInput">35 ¿El mantenimiento corregirá los errores, o incluirá también el
            mejoramiento del sistema?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre35" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Luego de 1 mes de dejarlo funcionando</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre35" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Luego de 1 año</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre35" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">A la semana</label>
        </div>

        <!--36 Pregunta-->

        <div>
          <label for="formGroupExampleInput">36 ¿Qué medidas de eficiencia se aplicarán al uso de recursos y al tiempo
            de respuesta?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre36" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Busqueda mejorada</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre36" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Almacenamiento mejorado</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre36" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">Costo reducido</label>
        </div>

        <!--37 Pregunta-->

        <div>
          <label for="formGroupExampleInput">37 ¿Cuán fácil debe ser mover el sistema de una ubicación a otra de un tipo
            de computadora a otro?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre37" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Lugar fijo</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre37" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Fácil de mover</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre37" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">Costo reducido</label>
        </div>


        <!--38 Pregunta-->
        <input class="form-control" type="text" placeholder="Seguridad" readonly>


        <div>
          <label for="formGroupExampleInput">38 ¿Cuán fácil debe ser mover el sistema de una ubicación a otra de un tipo
            de computadora a otro?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre38" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Login</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre38" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Huella dactilar</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre38" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">Clave de ingreso</label>
        </div>

        <!--39 Pregunta-->

        <div>
          <label for="formGroupExampleInput">39 ¿Debe controlarse el acceso al sistema o a la información?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre39" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">JSON</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre39" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">text</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre39" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">base de datos</label>
        </div>


        <!--40 Pregunta-->

        <div>
          <label for="formGroupExampleInput">40 ¿Cómo podrán aislarse los programas de usuario de los otros programas y
            del sistema operativo?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre40" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">misma computadora</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre40" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">portable</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre40" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">requiere instalarse</label>
        </div>

        <!--41 Pregunta-->

        <div>
          <label for="formGroupExampleInput">41 ¿Con qué frecuencia deben hacerse copias de respaldo?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre41" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">diario</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre41" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">semanal</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre41" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">mes</label>
        </div>

        <!--42 Pregunta-->

        <div>
          <label for="formGroupExampleInput">42 ¿Las copias de respaldo deben almacenarse en un lugar diferente?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre42" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">si drive</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre42" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">no local</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre42" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">si texto</label>
        </div>

        <!--43 Pregunta-->

        <div>
          <label for="formGroupExampleInput">43 ¿Deben tomarse precauciones contra el fuego, el daño provocado por agua
            o el robo?</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre43" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">si</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre43" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">no</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="pre43" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">si texto</label>
        </div>








        <div>
          <button type="submit" id="button" class="btn btn-primary">Capturar</button>
        </div>
        <br><br><br><br><br><br>
        
      </form>
    </div>
  </div>
</div>


{{> footer}}

<script>
  $(document).ready(function () {

    let arrayResultados = []

    $("#button").click(function () {
      let temp = $("#formGroupExampleInput").val()
      arrayResultados.push(temp)

      // console.log(temp)



      // enviar el arreglo al server por post
    });

  });



</script>